*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: rgb(31, 41, 55);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px 20px 100px;  
    color:white;
}
.logo{
    font-size:24px;
    font-weight: 700;
}
.navigation a{
    font-size:18px;
}
.navigation{
    list-style-type: none;
    display: flex;
    gap:10px;
}
.navigation a{
    text-decoration: none;
    color: white;
}
.navigation li{
    margin-left: 1.5em;
}

.section-one{
    background-color: rgb(31, 41, 55);
    display: flex;
    justify-content: center;
    gap:20px;
    align-items: stretch;
    padding:60px 100px 60px 100px;
}
.text-content{
    color:white;
    flex:1;
}
.text-content div{
    font-size: 48px;
    font-weight: 900;
}
.text-content p{
    font-size:18px;
    margin-bottom: 15px;
}
.text-image{
    background-color: rgb(91, 91, 91);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}
.section-one button{
    padding:6px 24px 6px 24px;
    background-color: rgb(23, 96, 204);
    color:white;
    border:none;
    border-radius:6px;
    cursor: pointer;
}
